td,
th {
  border-width: 4px;
  border-color: var(--color-exotic-ligth);
}

.container-iframe {
  width: 100%;
}

.container-iframe iframe {
  width: 100%;
}

.colorBtnMenu {
  background-color: #9c9274;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  padding: 5px;
}

.container-menu {
  width: 100%;
}

.colorIcon {
  color: white;
  background-color: white;
}

.containerList {
  position: absolute;
  top: 100%;
  left: -89%;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  margin-top: 4px;
  border: 2px solid #9c9274;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  display: none;
}

.containerList.d-block {
  max-height: 100px; /* ajusta según tus necesidades */
  opacity: 1;
}

.element-list {
  margin: 4px auto;
}

.element-list:hover {
  background-color: #dadada;
  width: 95%;
  border-radius: 5px;
}

.text-container h6 {
  color: #0047b2;
}
.text-container p {
  color: black;
  margin: 10px 0px;
  line-height: 1.3em;
}
