td,
th {
  border-width: 4px;
  border-color: var(--color-exotic-ligth);
}

.container-iframe {
  width: 100%;
}

.container-iframe iframe {
  width: 100%;
}

.colorBtnMenu {
  background-color: #9c9274;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  padding: 5px;
}

.container-menu {
  width: 100%;
}

.colorIcon {
  color: white;
  background-color: white;
}

.containerList {
  position: absolute;
  top: 100%;
  left: -89%;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  margin-top: 4px;
  border: 2px solid #9c9274;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  display: none;
}

.containerList.d-block {
  max-height: 100px; /* ajusta según tus necesidades */
  opacity: 1;
}

.element-list {
  margin: 4px auto;
}

.element-list:hover {
  background-color: #dadada;
  width: 95%;
  border-radius: 5px;
}

.text-membership {
  color: #0047b2;
  font-weight: bold;
  font-size: 20px;
  margin: 7px;
}

.text-secondMembership {
  color: #66a3e0;
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
}

.text-long {
  color: black;
  text-align: center;
}

.tab {
  background-color: white !important;
}

.tab-active {
  color: #a8996e;
  border-bottom: 2px solid #a8996e;
}

.text-table p {
  color: black !important;
}
table thead {
  border: 1px solid black;
}
table tbody {
  border: 1px solid black;
}
table td {
  border: 1px solid black;
}

.text-table th {
  background-color: #d4e6f1;
  font-weight: bold !important;
  font-size: 50px !important;
  border: 1px solid black;
}

.reservation-policies h6 {
  color: #0047b2;
  font-weight: bold;
  font-size: 18px;
}

.list-reservation {
  width: 90%;
  margin: 0 auto;
}
.list-reservation li {
  list-style: disc;
  font-size: 14px;
}
